env/
.env/
.venv/

.vscode/
testing/
exports/
Dummy_Testing/*

__pycache__

*.txt
*.manifest
*.xml
*.json
!demos/projects/*.json
!demos/ICs/*.json

file.json/
temp.json/
cython_debug/

reactor/*.pyd
reactor/*.so
reactor/*.c*
reactor/*.html
build/
*/blazing_build
dist/
*dist
.nuitka*
blazing_builds/

reactor_oop/*.html
reactor_oop/*.c*
reactor_oop/*.pyd
reactor_oop/*.so

*.data
*.data.old

harness_build/*.vpi
harness_build/*.o
tests/*/